<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cursospea.pyaprendizaje2">

    <!-- Permisos necesarios -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- Optional feature for telephony hardware -->
    <uses-feature android:name="android.hardware.telephony" android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="true">

        <!-- Actividad principal (UsersActivity) -->
        <activity
            android:name=".activities.UsersActivity"
            android:label="@string/title_activity_users"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Actividad de detalle de usuario (UserDetailActivity) -->
        <activity
            android:name=".activities.UserDetailActivity"
            android:label="@string/title_activity_user_detail"
            android:parentActivityName=".activities.UsersActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.UsersActivity" />
        </activity>

        <!-- Actividad de agregar/editar usuario (AddEditUserActivity) -->
        <activity
            android:name=".activities.AddEditUserActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="false" />

    </application>

</manifest>
